body {
	height: 60vh;
	background: #e3f2fd;
    font-family: sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.formPart {
	display: flex;
	justify-content: space-around;
	width: 95%;
}

.formPart > span {
	flex: 1 0 35%;
}

.formPart > input {
	flex: 1 0 65%;
}

.header {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.progressShow {
	width: 70%;
}

.hide {
	display: none;
}

.show {
	display: block;
}