:local(.invoicesViewContainer) {
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

:local(.invoiceViewHeader) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

:local(.invoiceMetaDetails) {
	flex: 0 1 35%;
}

:local(.businessAddress) {
	flex: 0 1 45%;
}

:local(.invoiceItemsTable) {
	flex-direction: column;
	display: flex;
}

:local(tr.invoiceItemTableRow) {
	display: flex;
	border: none;
}

:local(tr.invoiceItemTableRow > :first-child) {
	flex: 0 1 60%;
	text-align: left;
	padding-left: 20px;
}

:local(thead > tr.invoiceItemTableRow) {
	border: 1px solid black;
}

:local(tbody > tr.invoiceItemTableRow > :not(:last-child)) {
	border-right: 1px solid black;
}

:local(thead > tr.invoiceItemTableRow > :not(:last-child)) {
	border-right: 1px solid black;
}

:local(.invoiceItemCell) {
	flex: 0 1 20%;
	text-align: center;
}

:local(th.invoiceItemCell) {
	border: none;
}

:local(tbody.invoiceTableBody) {
	min-height: 100px;
	border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

tbody > tr:last-child > td:first-child {
	min-height: 100px;
}

:local(tfoot.invoicesFooter) {
	border-right: 1px solid;
}

:local(tfoot.invoicesFooter > tr > td:last-child) {
	border-bottom: 1px solid;
	border-left: 1px solid;
}