:local(button.primary) {
	border-radius: 5px;
	background: linear-gradient(to right, #e72128, #b32024);
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	font-size: 1rem;
    padding: 15px 20px;
}

:local(button.primary:disabled) {
	background: #AFA8A8;
	cursor: not-allowed;
	opacity: .5;
	border: 1px solid grey;
}

:local(button.secondary) {
	border-radius: 5px;
    border: 1px solid #e72128;
    color: #b32024;
    background: white;
    color: #e72128;
	font-weight: 700;
	font-size: 1rem;
    text-transform: uppercase;
    padding: 15px 20px;
}

:local(.spaceBetween) {
	display: flex;
	justify-content: space-between;
	width: 80%;
	max-width: 900px;
}

:local(.spaceButtons) {
	flex: 0 1 40%;
    display: flex;
    justify-content: space-around;
}


@media print {
	:local(button.primary) {
		display: none;
	}

	:local(button.primary:disabled) {
		display: none;
	}

	:local(button.secondary) {
		display: none;
	}

	:local(.spaceBetween) {
		display: none;
	}

	:local(.spaceButtons) {
		display: none;
	}
}
