#invoices-app {
	background: white;
}

:local(.invoicesLogin) {
	display: flex;
	justify-content: center;
	align-items: center;
}

:local(.invoicesContainer) {
	background: #f1f1f2;
	margin: 2em;
	padding: 2em;
	max-width: 400px;
	max-height: 450px;
	flex: 0 1 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

:local(.invoicesLoginHeader) {
	font-weight: 900;
	color: #e52025;
	font-size: 3em;
}

:local(.loginField) {
	padding: 20px;
	flex: 0 1 100%;
	width: 100%;
	height: 140px;
}

:local(.fieldLabel) {
	text-align: center;
	color: #6d6e70;
	font-weight: 400;
}

:local(.fieldInput) {
	width: 100%;
	padding: 8px;
}

:local(.findInvoiceButtonContainer) {
	padding: 5px;
}

:local(.tooltipText) {
	font-family: "Open Sans", Arial, sans-serif;
}

:local(.findInvoiceButtonContainer button) {
	border-radius: 5px;
	background: linear-gradient(to right, #e72128, #b32024);
	text-transform: uppercase;
	padding: 10px 20px;
}

:local(.fieldLabelHelpIcon) {
	color: #e72128;
	margin-left: 10px;
}

:local(.inputFieldErrorMessage) {
	padding-top: 5px;
	font-size: .8em;
	color: #e72128;
}
