#invoices-app {
	background: white;
}

:local(.invoicesLogin) {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}

:local(.invoicesContainer) {
	background: #f1f1f2;
	margin: 2em;
	padding: 2em;
	max-width: 400px;
	min-height: 500px;
	flex: 0 1 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

:local(.invoicesLoginHeader) {
	font-weight: 900;
	color: #e52025;
	font-size: 3em;
}

:local(.loginField) {
	padding: 10px 20px;
    flex: 0 1 100%;
    width: 100%;
    max-height: 140px;
}

:local(.fieldLabel) {
	text-align: center;
	color: #6d6e70;
	font-weight: 400;
}

:local(.fieldInput) {
	width: 100%;
    color: #242424;
    border-color: #f5f5f5;
    border-width: 0;
    border-style: solid;
    border-radius: 0;
    max-width: 100%;
    font-size: 14px;
    padding: 14px;
    box-sizing: border-box;
    outline: none;
    font-weight: normal;
    height: 36px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075)
}

:local(.findInvoiceButtonContainer) {
	padding: 5px;
}

:local(.tooltipText) {
	font-family: "Open Sans", Arial, sans-serif;
}

:local(.findInvoiceButtonContainer button) {
	border-radius: 5px;
	background: linear-gradient(to right, #e72128, #b32024);
	text-transform: uppercase;
	padding: 10px 20px;
}

:local(.fieldLabelHelpIcon) {
	color: #e72128;
	margin-left: 10px;
}

:local(.inputFieldErrorMessage) {
	padding-top: 5px;
	font-size: .8em;
	color: #e72128;
}

@media screen and (max-width: 425px) {
	:local(.invoicesContainer) {
		flex: 0 1 100%;
		margin: 1em;
	}
}
